* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00297b;
    --secondary-color: #3f863f;
    --accent-color: #ff350f;
    --background-color: #ffffff;
    --text-color: #000;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background: var(--primary-color);
    color: var(--background-color);
    justify-content: space-around;
    align-items: center;
}



#navToggle {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(to right, var(--accent-color) 50%, transparent 50%);
    border-radius: 50%;
    margin: 20px;
    border: 1px solid var(--accent-color);
}

.inverse {
    background: linear-gradient(to right, transparent 50%, var(--accent-color) 50%);
}

#hamMenu {
    background: none;
    font-size: 3rem;
    border: none;
    padding: 5px;
    color: var(--background);
}

#hamMenu:hover {
    border-radius: 50%;
    color: var(--accent-color);
}





footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: var(--secondary-color);
}