* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00297b;
    --secondary-color: #3f863f;
    --accent-color: #ff350f;
    --background-color: #ffffff;
    --text-color: #000;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--background-color);
}

header {
    display: flex;
    background: var(--primary-color);
    color: var(--background-color);
    justify-content: space-around;
    align-items: center;
}

#navToggle {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(to right, var(--accent-color) 50%, transparent 50%);
    border-radius: 50%;
    margin: 20px;
    border: 1px solid var(--accent-color);

}

.inverse {
    background: linear-gradient(to left, transparent 50%, var(--accent-color) 50%);
}

#hamMenu {
    background: none;
    font-size: 3rem;
    border: none;
    padding: 5px;
    color: var(--background);
}

#hamMenu:hover {
    border-radius: 50%;
    color: var(--accent-color);
}

#navigation a:hover {
    color: var(--accent-color);
}

.card {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);

}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

aside,
article {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 5px auto;
    padding: 15px;
    max-width: 40%;
    min-width: fit-content;
    height: fit-content;
}

figure {
    text-align: center;
    border: 1px dashed var(--primary-color);
    background-color: #3f863f60;
}

.discover-img img {
    margin: 15px;
}

.discover-img img:hover {
    animation: hover 1s ease-in-out forwards;
}

#discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#discover article {
    margin: 25px auto;
}

#grid,
#list {
    text-align: center;
    margin: 25px;
    font-size: 2rem;

}

.list {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 3px;
    margin: 3px;
    width: auto;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
}

.hero-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.hero {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

#hero-button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background: var(--background-color);
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #a7a6a6ce;
}

#hero-button:hover {
    color: var(--accent-color);
    border-color: var(--secondary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: var(--secondary-color);
    padding-left: 10%;
    padding-right: 10%;
}


/* for the join page. */

.join-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-color);
    width: 300px;
    margin: 25px auto;
    padding: 40px;
    align-items: center;
    background-color: #00297b53;
    border-radius: 5px;
}

label {
    text-align: center;
    padding: 15px;
    border-bottom: 3px double var(--secondary-color);
    width: 90%;
}

textarea {
    padding: 3px;
}

form button {
    margin: 20px auto;
    padding: 5px;
    width: fit-content;
}


.mem-containers {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 250px;
    height: 60px;
    margin: 50px 5px;
    background-color: #3f863fad;
    animation: fadein 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hover {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
        transform: scale(1.01);
    }
}